footer {
    background-color: #0c0c0cee;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Cambié a 100% para que no ocupe más espacio */
    margin-top: auto; 
    position: fixed;
    bottom: 0; /* Mueve el footer al fondo de la página */
}

.footer-container {
    width: 30%;
    margin: 0 auto;
}

.footer-content p {
    margin: 10px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background-image: url('../img/FONDO\ atras.jpg'); /* Cambia esto por la ubicación correcta de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Hace que el fondo se mantenga fijo al hacer scroll */
    padding-top: 0;
    height: 100vh; /* Asegura que el body tenga toda la altura de la ventana */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: #0c0c0cee;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: rgba(46, 165, 92, 0.144); /* Color naranja en hover */
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: rgba(255, 255, 255, 0.295);
}

.menu-vertical li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.card {
    background: #000000ec;
    border: 4px;
    box-shadow: 0px 14px 80px rgba(131, 135, 224, 0.5);
    max-width: 1000px; /* Aumentado a 500px para hacerlo más grande */
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    position: relative;
    margin: 0 auto; /* Mantiene el cuadro centrado horizontalmente */
}
.card .actions {
    display: flex;
    justify-content: space-around; /* Para distribuir los iconos horizontalmente */
    position: absolute;
    bottom: 0px; /* Posicionar los iconos en el margen inferior */
    width: 60%; /* Hacer que ocupen todo el ancho del cuadro */
    padding: 0 1rem;
}
.card h2 {
    color:#ffffff;
    margin: 0;
    padding: 0 1rem;
}

.card .title {
    padding: 1rem;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

.img-avatar {
    width: 120px; /* Aumenta el tamaño de la imagen del avatar */
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0);
    top: 15px;
    left: 85px;
}

.img-avatar img {
    border-radius: 50%;
}



.card-text {
    color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
}

.card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
    text-align: justify;
}

.card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
}


.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: bottom center;
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.title-total {
    padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
    fill: white;
}

.img-portada {
    width: 100%;
}

.card .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
    text-align: justify;
}

.card .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
}

button {
    border: none;
    background: none;
    font-size: 20px;
    color: #2d7ef9;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    color: #0365f6;
}
